<html>
  <head>
    <title>Day 3</title>
  </head>
  <body>
    <h1>Predict Credit Card Upgrade</h1>
    <form action="/" method="POST"> 
        <p>Please enter: </p>
        <p>Purchase Amount</p>
        <p><input type = "number" step="0.01" name="Purchases"></p>
        <p>Enter 1 if you have SuppCard </p>
        <p><input type = "number" step="1" name="SuppCard"></p>
        <p><input type = "submit" value="Enter"></p>
    </form>
    
    <p>{{result1}}</p>
    <p>{{result2}}</p>
    <p>{{result3}}</p>
    <p>{{result4}}</p>
    <p>{{result5}}</p>
    
  </body>
</html>