<html>
  <head>
    <title>Individual Assignment</title>
  </head>
  <body>
    <h1>Predict Credit Card Defualt</h1>
    <form action="/" method="POST"> 
        <h2>Please enter: </h2>
        <p>Your Income</p>
        <p><input type = "number" step="0.01" name="Income"></p>
        <p>Your Age</p>
        <p><input type = "number" step="0.01" name="Age"></p>
        <p>Your Loan Amount</p>
        <p><input type = "number" step="0.01" name="Loan"></p>
        <p><input type = "submit" value="Enter"></p>
    </form>
    
    <p>{{result1}}</p>
    <p>{{result2}}</p>
    <p>{{result3}}</p>
    <p>{{result4}}</p>
    <p>{{result5}}</p>
    
  </body>
</html>
